<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
  rel="stylesheet"
/>
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
  rel="stylesheet"
/>
<link
  href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/8.1.0/mdb.min.css"
  rel="stylesheet"
/>

    <title>Salom Dunyo</title>

</head>
<body>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand me-2" href="https://mdbgo.com/">
      <img
        src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp"
        height="16"
        alt="MDB Logo"
        loading="lazy"
        style="margin-top: -1px;"
      />
    </a>
    <button
      data-mdb-collapse-init
      class="navbar-toggler"
      type="button"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <div class="d-flex align-items-center">
          <button data-mdb-ripple-init type="button" class="btn btn-link px-3 me-2" href = "categories">
            Asosiy sahifa
          </button>
          <div class="btn-group" role="group">
            <button
              id="btnGroupDrop1"
              type="button"
              class="btn btn-primary dropdown-toggle"
              aria-expanded="false"
              data-mdb-ripple-init
              data-mdb-dropdown-init
            >
              Kategoriyalar
            </button>
            <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <li><a class="dropdown-item" href="bmw/">BMW</a></li>
              <li><a class="dropdown-item" href="mercedes/">Mercedes-Benz</a></li>
            </ul>
          </div>
      </ul>
      <div class="d-flex align-items-center">
        <button data-mdb-ripple-init type="button" class="btn btn-link px-3 me-2">
          Login
        </button>
        <button data-mdb-ripple-init type="button" class="btn btn-primary me-3">
          Sign up for free
        </button>
        <a
          data-mdb-ripple-init
          class="btn btn-dark px-3"
          href="https://github.com/mdbootstrap/mdb-ui-kit"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </div>
    </div>
  </div>
</nav>

<main class="mt-5 mb-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {% for car in cars %}
      <div class="col">
        <div class="card h-100" style=".card-img-top {transition: transform 0.3s ease-in-out;} .card-img-top:hover {transform: scale(1.1);}">
          {% if car.photo %}
          <img src="{{ car.photo.url }}" class="card-img-top" alt="{{ car.name }}" style="height: 200px; object-fit: cover;"/>
          {% else %}
            <img src="https://via.placeholder.com/150" class="card-img-top" alt="Default image"/>
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{car.brend}} {{ car.name }}</h5>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <small class="text-muted">
              <i class="fas fa-calendar-alt"></i> {{ car.created|date:"D d F Y" }} {{ car.created|time:"H:i" }}
            </small>
            <small class="text-muted">
              <i class="fas fa-eye"></i> {{ car.views }}
            </small>
            <small class="text-muted">
              <i class="fas fa-tags"></i> {{ car.price }}
            </small>
          </div>        
        </div>
      </div>
      {% endfor %}
    </div>
  </main>

<footer class="bg-body-tertiary text-center">
  <div class="container p-4 pb-0">
    <section class="mb-4">
      <a
      data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #3b5998;"
        href="facebook.com"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #55acee;"
        href="x.com"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #dd4b39;"
        href="google.com"
        role="button"
        ><i class="fab fa-google"></i
      ></a>
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #ac2bac;"
        href="https://www.instagram.com/explore/"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #0082ca;"
        href="linkedin.com"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <a
        data-mdb-ripple-init
        class="btn text-white btn-floating m-1"
        style="background-color: #333333;"
        href="github.com"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2020 Copyright:
    <a class="text-body" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
</footer>
</div>
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/8.1.0/mdb.umd.min.js"
></script>
</body>
</html>